// BrandsSlider  
section.brands
  .container
    .brands__slider.owl-carousel
      div: a(href=""): img(src="img/brand-1.jpg", alt="")
      div: a(href=""): img(src="img/brand-2.jpg", alt="")
      div: a(href=""): img(src="img/brand-3.jpg", alt="")
      div: a(href=""): img(src="img/brand-1.jpg", alt="")
      div: a(href=""): img(src="img/brand-2.jpg", alt="")
      div: a(href=""): img(src="img/brand-3.jpg", alt="")
// End BrandsSlider 
