// ImageSlider  
section.catalog__filters
  .container
    nav.catalog__filters--header
      ul
        li.active
          a(aria-controls="tab1" data-toggle="tab") 
            svg: use(xlink:href="#car-icon")
            span Легковые
        li
          a(aria-controls="tab2" data-toggle="tab") 
            svg: use(xlink:href="#bus-icon")
            span Коммерческие
        li
          a(aria-controls="tab3" data-toggle="tab") 
            svg: use(xlink:href="#truck-icon")
            span Грузовые
    .tab-content
      #tab1.tab-pane.fade.in.active
        form(action="").catalog__filters--form
          .row
            .col.sm-8
              .row
                .col.sm-4
                  label Ширина
                  select
                    option option
                    option option
                    option option
                    option option
                .col.sm-4
                  label Ширина
                  select
                    option option
                    option option
                    option option
                    option option
                .col.sm-4
                  label Ширина
                  select
                    option option
                    option option
                    option option
                    option option
              .row
                .col.sm-4
                  label Ширина
                  select
                    option option
                    option option
                    option option
                    option option
                .col.sm-4
                  label Ширина
                  select
                    option option
                    option option
                    option option
                    option option
                .col.sm-4
                  label Ширина
                  select
                    option option
                    option option
                    option option
                    option option
              .row
                .col.sm-4
                  label Ширина
                  select
                    option option
                    option option
                    option option
                    option option
                .col.sm-4
                  label Ширина
                  select
                    option option
                    option option
                    option option
                    option option
                .col.sm-4
                  label Ширина
                  select
                    option option
                    option option
                    option option
                    option option
            .col.sm-4
      #tab2.tab-pane.fade #tab2
      #tab3.tab-pane.fade #tab3




// End ImageSlider 
