// Footer 
footer.footer
  .container
    .row
      .col.md-3.footer__main
        .footer__copy
          span © 2017
          a(href="") 
            svg.icon: use(xlink:href="#logo-footer")
            span Esperanza Tyres
        a(href="").btn 
          i.fa.fa-facebook-official
          span Мы в Facebook
      .col.md-3.sm-4
        nav.footer__nav
          ul
            li: a(href="") О нас
            li: a(href="") Условия оплаты
            li: a(href="") Возврат средств
      .col.md-3.sm-4
        nav.footer__nav
          ul
            li: a(href="") Конфиденциальность
            li: a(href="") Вопросы-ответы
            li: a(href="") Контакты
      .col.md-3.sm-4
        .footer__adress: a(href="")
          i.fa.fa-map-marker
          span  Адрес на карте
        .footer__developer
          span Разработано в  
          a(href="http://meta.md" target="_blank") www.meta.md
a(href="#top").gotop: i.fa.fa-angle-up
a(href="#feedback").feed.popup-form: span Как мы можем улучшить сайт для вас?


// End Footer 


// Modals
#feedback.zoom-anim-dialog.mfp-hide.dialog.user-forms
  h3.dialog__header Опрос
  form(action="").dialog__form.validate__form
    .dialog__form--row
      label.query Вопрос 1
      .radiobox
        input(type="radio" name="group1")#radiobox1_1
        label(for="radiobox1_1") Ответ 1
      .radiobox
        input(type="radio" name="group1")#radiobox1_2
        label(for="radiobox1_2") Ответ 2
      .radiobox
        input(type="radio" name="group1")#radiobox1_3
        label(for="radiobox1_3") Ответ 3
    hr
    .dialog__form--row
      label.query Вопрос 2
      .radiobox
        input(type="radio" name="group2")#radiobox2_1
        label(for="radiobox2_1") Ответ 1
      .radiobox
        input(type="radio" name="group2")#radiobox2_2
        label(for="radiobox2_2") Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
      .radiobox
        input(type="radio" name="group2")#radiobox2_3
        label(for="radiobox2_3") Ответ 3
    hr
    .dialog__form--row
      label Комментарий
      textarea(name="", cols="30", rows="10")
    .dialog__form--row.controls
      button.btn.btn__accent.nomrg Отправить
#login.zoom-anim-dialog.mfp-hide.dialog.user-forms
  h3.dialog__header Авторизация
  form(action="").dialog__form.validate__form
    .dialog__form--row
      label(for="login-email") E-mail
      input(type="email" required name="login-email")#login-email
    .dialog__form--row
      label(for="login-pass") Пароль
      input(type="password" required name="login-pass")#login-pass
    .dialog__form--row.controls
      button.btn.btn__accent.btn-block Войти
      .flexbox
        a(href="#recovery").popup-form Забыли пароль?
        a(href="#registration").popup-form Регистрация
#recovery.zoom-anim-dialog.mfp-hide.dialog.user-forms
  h3.dialog__header Восстановление пароля
  form(action="").dialog__form.validate__form
    .dialog__form--row
      label(for="recovery-email") E-mail
      input(type="email" required name="recovery-email")#recovery-email
    .dialog__form--row.controls
      button.btn.btn__accent.btn-block Восстановить пароль
#registration.zoom-anim-dialog.mfp-hide.dialog.user-forms
  h3.dialog__header Регистрация
  form(action="").dialog__form.validate__form
    .dialog__form--row
      label(for="registration-email") E-mail
      input(type="email" required name="registration-email")#registration-email
    .dialog__form--row
      label(for="registration-name") Имя
      input(type="text" required name="registration-name")#registration-name
    .dialog__form--row
      label(for="registration-phone") Телефон
      input(type="tel" required name="registration-phone")#registration-phone
    .dialog__form--row
      label(for="registration-pass") Пароль
      input(type="password" required name="registration-pass")#registration-pass
    .dialog__form--row
      label(for="registration-pass2") Повторите пароль
      input(type="password" required name="registration-pass2")#registration-pass2
    .dialog__form--row.controls
      button.btn.btn__accent.btn-block Зарегистрироваться
      a(href="#login").popup-form Авторизация
#alert.zoom-anim-dialog.mfp-hide.dialog.medium
  h3.dialog__header Внимание!
    small На складе недостаточно товаров:
  table.basket__list--table
    thead
      tr
        th Название товара
        th Количество (штук)
        th
    tbody
      tr
        td 315/70 R-22,5 Bontyre D-730
        td
          .number
            input(type='text', value='4', min='1')
            span.btn.btn-plus: i.fa.fa-angle-up
            span.btn.btn-minus: i.fa.fa-angle-down 
        td: span.delete.tooltip(title="удалить" data-arrow="true")
  .t__center: button.btn.btn__accent КУпить
  .similar__items
    h2 Совместимые товары
    .similar__items--slider.owl-carousel
      - for (var i=1; i<=10; i++)
        div
          .catalog__grid--item
            .catalog__grid--item__price
              span.old-price 2056.00
              span.new-price 
                span 1500
                  small .00
                span леев
            .catalog__grid--item__image
              img(src="img/item_image(760x760).png", alt="")
              .catalog__grid--item__control
                .number
                  input(type='text', value='1', min='1')
                  span.btn.btn-plus: i.fa.fa-angle-up
                  span.btn.btn-minus: i.fa.fa-angle-down 
                button.btn.btn__accent Купить
            .catalog__grid--item__title
              a(href="catalog-item.html") 185/75 R-16C Bontyre BT-228







// End Modals 