// Footer 
footer.footer
  .container
    .row
      .col.md-3.footer__main
        .footer__copy
          span © 2017
          a(href="") 
            svg.icon: use(xlink:href="#logo-footer")
            span Esperanza Tyres
        a(href="").btn 
          i.fa.fa-facebook-official
          span Мы в Facebook
      .col.md-3.sm-4
        nav.footer__nav
          ul
            li: a(href="") О нас
            li: a(href="") Условия оплаты
            li: a(href="") Возврат средств
      .col.md-3.sm-4
        nav.footer__nav
          ul
            li: a(href="") Конфиденциальность
            li: a(href="") Вопросы-ответы
            li: a(href="") Контакты
      .col.md-3.sm-4
        .footer__adress: a(href="")
          i.fa.fa-map-marker
          span  Адрес на карте
        .footer__developer
          span Разработано в  
          a(href="http://meta.md" target="_blank") www.meta.md

// End Footer 


// Modals
#login.zoom-anim-dialog.mfp-hide.dialog.user-forms
  h3.dialog__header Авторизация
  form(action="").dialog__form.validate__form
    .dialog__form--row
      label(for="login-email") E-mail
      input(type="email" required name="login-email")#login-email
    .dialog__form--row
      label(for="login-pass") Пароль
      input(type="password" required name="login-pass")#login-pass
    .dialog__form--row.controls
      button.btn.btn__accent.btn-block Войти
      .flexbox
        a(href="#recovery").popup-form Забыли пароль?
        a(href="#registration").popup-form Регистрация
#recovery.zoom-anim-dialog.mfp-hide.dialog.user-forms
  h3.dialog__header Восстановление пароля
  form(action="").dialog__form.validate__form
    .dialog__form--row
      label(for="recovery-email") E-mail
      input(type="email" required name="recovery-email")#recovery-email
    .dialog__form--row.controls
      button.btn.btn__accent.btn-block Восстановить пароль
#registration.zoom-anim-dialog.mfp-hide.dialog.user-forms
  h3.dialog__header Регистрация
  form(action="").dialog__form.validate__form
    .dialog__form--row
      label(for="registration-email") E-mail
      input(type="email" required name="registration-email")#registration-email
    .dialog__form--row
      label(for="registration-name") Имя
      input(type="text" required name="registration-name")#registration-name
    .dialog__form--row
      label(for="registration-phone") Телефон
      input(type="tel" required name="registration-phone")#registration-phone
    .dialog__form--row
      label(for="registration-pass") Пароль
      input(type="password" required name="registration-pass")#registration-pass
    .dialog__form--row
      label(for="registration-pass2") Повторите пароль
      input(type="password" required name="registration-pass2")#registration-pass2
    .dialog__form--row.controls
      button.btn.btn__accent.btn-block Зарегистрироваться
      a(href="#login").popup-form Авторизация
//#request.zoom-anim-dialog.mfp-hide.dialog.user-forms
  h1 Заявка исполнителям
  form(action="").dialog-form.validate-form
    .input-row
      input(type="email" required placeholder="E-mail" name="request-email")#request-email
    .input-row
      input(type="tel" required placeholder="Телефон" name="request-phone")#request-phone
    .input-row
      select
        option Выбрать категорию
        option категория 1
        option категория 2
        option категория 3
        option категория 4
        option категория 5
        option категория 6
        option категория 7
        option категория 8
        option категория 9
    .input-row
      textarea(name="request-message", cols="30", rows="10" required placeholder="Описание работы:" )#request-message
    .input-row
      button.btn.btn-accent.btn-block Отправить
//#sunet.zoom-anim-dialog.mfp-hide.dialog.user-forms
  h1 Comandă un sunet
  p
    i.fa.fa-hourglass-2
    span Răspuns in 15 minute
  form(action="").dialog-form.validate-form
    .input-row
      input(type="text" required placeholder="Numele" name="sunet-name")#sunet-name
    .input-row
      input(type="tel" required placeholder="Numărul de telefon" name="sunet-phone")#sunet-phone
    .input-row
      button.btn.btn-accent.btn-block Comandă un sunet
//#categories.zoom-anim-dialog.mfp-hide.dialog.user-forms
  h1 Категории работ
  form(action="").dialog-form.validate-form
    .input-row
      .checkbox
        input(type="checkbox")#cat-1
        label(for="cat-1") Гарантия на выполненные работы – 3 года





    .input-row
      button.btn.btn-accent.btn-block Comandă un sunet
// End Modals 