// Header 
header.header
  .header__top
    .container
      .flexbox
        .header__top--contacts
          span.phone
            i.fa.fa-phone
            span 068 774 418
          span.phone
            i.fa.fa-phone
            span 078 858 518
        .header__top--search
          form.search-form
            input(type="search" placeholder="поиск")#header-search
            label(for="header-search"): i.fa.fa-search
        .header__top--user
          a(href="cabinet-user.html").user__settings
            i.fa.fa-user-o
            span Валерий
          button.btn.btn__normal Выйти
        nav.header__top--lang
          ul
            li.active: a(href=""): svg: use(xlink:href="#ru")
            li: a(href=""): svg: use(xlink:href="#md")
  .header__bottom
    .navbar
      .container
        .navbar__wraper
          .navbar__header
            a(href="index.html").brand
              svg.togglable: use(xlink:href="#logo")
              svg.icon: use(xlink:href="#logo-xs")
              span.slogan.togglable ваш надежный партнер
          .navbar__content
            nav.navbar__content--left
              .header__search
                form.search-form
                  input(type="search" placeholder="поиск")#header-search
                  label(for="header-search"): i.fa.fa-search
              ul
                +item('Главная', 'index.html')
                +item('Каталог', 'catalog-grid.html')
                +item('О нас', 'about.html')
                +item('Контакты', 'contacts.html')
            nav.navbar__content--right
              a(href="basket.html").btn.btn__accent
                i.fa.fa-shopping-cart
                span.count 5
                span.text товаров
            button.navbar__toggle: svg: use(xlink:href="#menus")
// End Header 
