script(src="js/jquery.min.js")
script(src="js/plugins.min.js")
if active__menu == 'Контакты'
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAIjN23OujC_NdFfvX4_AuoGBbkx7aHMf0&language=ru&region=RU&callback=initMaps", async defer)
  script(src="https://www.google.com/recaptcha/api.js")
script(src="js/app.min.js")