// SubscribeBlock  
section.subscribe
  .container
    form.subscribe__wraper
      .subscribe__header
        h3
          span Подписка
          small на новые товары
      .subscribe__body
        .subscribe__body--item
          select
            option Выберите период
            option Выберите период 1
            option Выберите период 2
            option Выберите Выберите период 3
        .subscribe__body--item
          input(type="email" placeholder="E-mail")
      .subscribe__control
        button(type="submit").btn.btn__accent Подписаться

// END SubscribeBlock 