extends mail
block main
  h1(style="font-weight: normal;text-align: center;margin: 20px 0 60px;font-size: 24px;color:#615c90;") Восстановление пароля
  p(style="font-size: 16px;margin: 0 0 20px;") Для сброса пароля перейдите по ссылке:
  a(href="../" style="display: inline-block;padding: 10px 60px;line-height: 24px;font-size: 16px;background: #615c90;color: #ffffff;border-radius: 5px;margin-bottom: 40px;text-decoration:none;" onMouseOver="this.style.background='#e62d23'" onMouseOut="this.style.background='#615c90'") Сбросить пароль
