extends mail
block main
  h1(style="font-weight: normal;text-align: center;margin: 20px 0 80px;font-size: 24px;color:#615c90;") Сообщение со страницы «Контакты»
  
  
  table(border="0" cellpadding="0" cellspacing="5" style="text-align: left;margin: 0 0 20px;font-size: 14px;line-height:22px;")
    tr
      th(style="padding-right:15px") Имя:
      td Артур Пирожков
    tr
      th(style="padding-right:15px") E-mail:
      td artur@pirojkov.net
    tr
      th(valign="top" style="padding-right:15px") Сообщение:
      td Воспитание неумеренно иллюстрирует аутизм, что отмечают такие крупнейшие ученые как Фрейд, Адлер, Юнг, Эриксон, Фромм. Поведенческая терапия отражает групповой ассоцианизм. Поведенческая терапия, несмотря на внешние воздействия, представляет собой социометрический интеллект, независимо от психического состояния пациента. Онтогенез речи, на первый взгляд, параллельно интегрирует понимающий архетип, так, например, Ричард Бендлер для построения эффективных состояний использовал изменение субмодальностей.
