.basket {
  &__list {
    padding: 40px 0;

    h1 {
      text-align: center;
      margin: 0 0 30px;
    }
    &--table {
      width: 100%;
      line-height: 20px;
      margin-bottom: 30px;

      thead {
        background-color: $c_1;
        color: #fff;

        th {
          font-family: $normal;
          text-align: left;
          font-size: 12px;
          font-weight: 400;
          text-transform: uppercase;
          padding: 10px 5px;
        }
      }

      tbody {
        tr {
          background-color: #fff;
          border-bottom: 1px solid $c_5;

          td {
            padding: 5px;
            vertical-align: middle;

            &:first-child {
              a {
                display: block;
                padding: 5px;
                margin: -5px;

                &:hover {
                  opacity: .75;
                }

                img {
                  display: block;
                  width: 40px;
                }
              }
            }
          }
        }
      }

      tfoot {
        th {
          text-align: left;
          padding: 10px 5px;
          font-weight: 400;

          &:nth-child(4) {
            text-align: right;
            padding-right: 10px;
          }
        }
      }

      .delete {
        display: block;
        width: 20px;
        height: 20px;
        line-height: 20px;
        transition: $transition;
        position: relative;
        cursor: pointer;
        opacity: .5;

        &:before, &:after {
          display: block;
          content: '';
          background-color: $c_2;
          transform: rotate(45deg);
          position: absolute;
          transition: $transition;
        }

        &:before {height: 2px;width: 100%;left: 0;top: 50%;margin-top: -1px;}

        &:after {width: 2px;height: 100%;top: 0;left: 50%;margin-left: -1px;}

        &:hover {
          opacity: 1;

          &:before, &:after {background-color: $c_3;}
        }
      }

      .number {
        border: 1px solid $c_5;
        border-radius: 5px;
        display: inline-flex;
        padding: 3px;

        input {
          background-color: #fff;
          border: none !important;
          width: 50px;
          height: 20px;
          font-size: 12px;
          padding: 0 5px;
        }

        .btn {
          padding: 0;
          margin-left: 1px;
          width: 20px;
          height: 20px;
          border-radius: 0;
          background-color: $c_1;
          color: #fff;

          &:hover {
            color: #fff;
            background-color: $c_3;
          }
        }
      }

    }// end table
  }


  &__delivery {
    background-color: #fff;
    padding: 40px 15px 20px;

    h2 {
      margin: 0 0 30px;
      font-size: 24px;
      line-height: 1;
      font-weight: 400;
      text-align: center;
    }

    p {
      font-family: $normal;
    }

    &--tabs {
      margin-bottom: 30px;
      ul {
        display: flex;
        align-items: center;
        justify-content: center;

        li {
          display: block;
          margin: 0 15px 20px;

          a {
            display: block;
            text-align: center;
            line-height: 20px;
            padding: 7px;
            border: 1px solid $c_5;
            width: 270px;
            border-radius: 5px;
            user-select: none;

          }

          &.active a,  a:hover {
            background-color: $c_1;
            color: #fff;
          }
        }
      }
    }

    &--form {
      label {
        display: block;
        font-size: 14px;
        text-transform: uppercase;
        margin-bottom: 5px;
      }

      input {
        display: block;
        width: 100%;
        height: 42px;
        border: 1px solid $c_5;
        padding: 0 10px;
        border-radius: 5px;
        margin-bottom: 20px;
      }

      .nice-select {
        font-size: 16px;
        margin-bottom: 20px;
      }
    }
  }

  &__client {
    padding: 40px 0 20px;
  }

  &__summary {
    padding: 0 15px;
    .col {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #fff;
    }
    .col:first-child {
      background-color: $c_1;
      color: #fff;
    }

    table {
      font-size: 18px;

      th, td {
        text-align: left;
        padding: 10px;
      }

      th {
        text-transform: uppercase;
      }

      tr.total {
        font-size: 30px;
      }
    }
  }

  &__control {
    text-align: right;
    padding: 40px 0;

    .btn {
      text-transform: uppercase;
      letter-spacing: .05em;
      font-size: 14px;
      line-height: 20px;
      font-weight: 700;
      height: 40px;
      padding: 10px 30px;
    }
  }




}




.form--row {
  margin-bottom: 20px;

  label {
    font-size: 14px;
    text-transform: uppercase;
    line-height: 1;
    font-weight: 400;
    display: block;
    margin-bottom: 5px;
    transition: $transition;

    &.error {
      color: $c_3;
    }
  }
  input, textarea {
    font-family: $normal;
    height: 40px;
    width: 100%;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid $c_5;
    padding: 0 10px;
    transition: $transition;

    &.error {
      border: 1px solid $c_3;
    }
  }

  textarea {
    height: 198px;
    padding: 5px 10px;
    resize: none;
  }
}

.radio-button {
  margin-bottom: 20px;
  text-align: center;

  input {
    display: none;

    + label {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      user-select: none;
      cursor: pointer;
      border-radius: 5px;
      background-color: #fff;
      border: 1px solid $c_5;
      height: 40px;
      width: 300px;
      transition: $transition;
    }

    &:checked + label,  +label:hover {
      background-color: $c_1;
      color: #fff;
      border: 1px solid $c_1;
    }
  }

}



@media #{$tablet-down} {
  .basket__summary table {font-size: 14px;}
  .basket__summary table tr.total {font-size: 20px;}
  .basket__summary table td, .basket__summary table th {padding: 5px;}
  .basket__list--table thead th {white-space: nowrap;font-size: 10px;}
}


@media #{$mobile-screen} {
  .basket__list--table {position: relative;margin-bottom: 0;}
  .basket__list--table, .basket__list--table tbody, .basket__list--table tbody tr, .basket__list--table tbody tr td {
    display: block;
    width: 100%;
    text-align: center;

    thead {display: none;}
  }

  .basket__list--table tbody tr td:first-child a {
    display: block;
    padding: 5px;
    margin: 0 40px;

    img {
      display: block;
      width: 100%;
    }
  }
  .basket__list--table .delete {
    position: absolute;
    right: 10px;
    top: 10px;
  }

  .basket__list--table tbody tr td[data-cell_mobile] {
    display: flex;
    align-items: center;
    padding: 5px 15px;
    &:before {
      display: inline-block;
      margin-right: 10px;
      font-weight: 700;
      font-size: 10px;
      text-transform: uppercase;
      content: attr(data-cell_mobile)":";
      flex: 1;
      text-align: left;
    }
  }

  .basket__list--table tfoot {
    display: block;
    width: 100%;

    tr {
      display: flex;
      align-items: center;

      th {
        
        &:nth-child(4) {flex:1;}
        &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(6) {display: none;}
      }
    }

  }

  .basket__delivery--tabs ul li {flex:1; margin: 0 5px;}
  .basket__delivery--tabs ul li a {width: 100%;}
  .basket__client {padding: 20px 15px;}

  .basket__summary {padding: 0 30px;}
  .radio-button {width: 100%;}
  .radio-button input + label {width: 100%;}
  .basket__control {text-align: center;}


}