.catalog {
  &__filters {
    padding: 40px 0;
    
    &--header {
      ul {
        margin: 0 -15px;

        &:after {
          clear: both;
          content: '';
          display: block;
        }
        
        li {
          float: left;
          padding: 0 15px;
          display: block;
          width: 33.333333%;

          &:last-child {float: right;}

          a {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            font-size: 18px;
            text-transform: uppercase;
            padding: 20px;
            border-radius: 5px 5px 0 0;
            background-color: rgba($c_5, .7);
            border: 1px solid transparent;
            border-bottom: none;
            position: relative;

            @media #{$tablet-down} {
              font-size: 14px;
              span {
                width: 120px;
                text-align: left;
              }

              svg {width: 60px !important;}
            
            
            }


            &:after {
              content: '';
              display: block;
              width: 100%;
              height: 1px;
              background-color: #fff;
              position: absolute;
              left: 0;
              bottom: -1px;
              opacity: 0;
              z-index: 2;
              transition: $transition;
            }

            span, svg {
              display: block;
              color: $c_1;
              fill: $c_1;
            }

            svg {
              height: 20px;
              margin-right: 10px;
            }
          }

          &.active a, a:hover {
            background-color: #fff;
            border: 1px solid $c_1;
            border-bottom: none;
            &:after {opacity: 1;}
          }

          &:nth-child(1) a svg {
            width: 49.9px;
          }
          &:nth-child(2) a svg {
            width: 40.6px;
          }
          &:nth-child(3) a svg {
            width: 63.8px;
          }
        }
      }
    }
    .tab-content {
      position: relative;
      background-color: #fff;
      border: 1px solid $c_1;

      &:after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 30px;
        background-color: $c_1;
        border-radius: 100%;
        z-index: -1;
        filter: blur(20px);
        left: 0;
        bottom: -15px;
      }

      .tab-pane {
        position: relative;
        z-index: 1;
        background-color: #fff;
        
        padding: 30px 30px 10px;
      }
    }

    &--form {
      &__row {
        margin: 0 -5px 10px;
        display: flex;
        flex-wrap: wrap;

        .col {
          width: 33.3333333%;
          flex: none;
          padding: 0 5px;
          min-height: 80px;

          label {
            display: block;
            text-transform: uppercase;
            font-size: 14px;
            line-height: 1;
            padding: 0 0 5px;
          }

          .nice-select {
            display: block;
            width: 100%;
            margin-bottom: 20px;
            padding-left: 10px;

            &.open {z-index: 999;}

            & .list {
              left: -1px;
              right: -1px;
              overflow-y: auto;
              max-height: 200px;

              .option {line-height: 20px;padding-top: 10px;padding-bottom: 10px;}
            }
          }
        }
      }

      &__controls {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 30px;
        padding-top: 20px;

        .btn {
          height: 42px;
        }

        .btn__accent {
          display: block;
          width: 100%;
          text-transform: uppercase;
          letter-spacing: .05em;
          font-weight: 700;
          font-size: 14px;
        }
      }
    }
  }

  &__feautered{
    &--tabs {
      padding-top: 20px;
      padding-bottom: 40px;

      h1 {
        text-align: center;
        margin: 0 0 20px;
      }

      ul {
        display: flex;

        li {
          flex:1;
          border-right: 1px solid transparent;

          a {
            display: block;
            text-align: center;
            background-color: $c_1;
            color: #fff;
            padding: 15px 0;
            user-select: none;
            text-transform: uppercase;
          }

          &:first-child a {
            border-radius: 5px 0 0 5px
          }

          &:last-child a {
            border-radius: 0 5px 5px 0
          }

          a:hover {
            background-color: $c_2;
          }

          &.active a {
            background-color: $c_3;
          }

        }



      }
    }
  }

  &__grid {
    &--item {
      background-color: #fff;
      border: 1px solid #fff;
      padding: 10px 15px;
      transition: $transition;
      margin-bottom: 30px;
      user-select: none;

      * {user-select: none;}

      &__price {
        text-align: right;
        position: relative;
        height: 30px;

        .old-price {
          display: inline-block;
          position: relative;
          color: $c_4;
          font-size: 14px;
          line-height: 20px;
          padding: 5px 0;
          margin: 0 10px;

          &:after {
            content: '';
            display: block;
            width: 100%;
            height: 1px;
            background-color: $c_4;
            position: absolute;
            top: 50%;
            left: 0;
            transform: rotate(-20deg);
          }
        }

        .new-price {
          position: absolute;
          display: block;
          background-color: $c_3;
          color: #fff;
          top: 100%;
          right: 0;
          z-index: 1;
          padding: 10px;

          span {
            display: block;
            white-space: nowrap;
            line-height: 1;

            &:first-child {
              font-size: 24px;
              small {
                font-size: 14px;
              }
            }

            &:last-child {
              font-size: 14px;
            }
          }

          &:after {
            content: '';
            display: block;
            position: absolute;
            right: 0;
            top: 100%;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 10px 18px 0 0;
            border-color: #9e2923 transparent transparent transparent;
          }
        }
      }

      &__image {
        display: block;
        position: relative;

        img {
          display: block;
          width: 100%;
        }
      }

      &__control {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(#fff, .9);
        opacity: 0;
        transition: $transition;
        padding: 15px 30px;

        .btn__accent {
          border-radius: 0;
          display: block;
          width: 100%;
          text-transform: uppercase;
          letter-spacing: .05em;
          font-weight: 700;
          margin-bottom: 0 !important;
        }

        .number {
          display: flex;
          margin-bottom: 10px;

          input {
            display: block;
            flex: 1;
            min-width: 0;
            height: 30px;
            text-align: center;
            color: #212121;
            border-radius: 0;
            border: 1px solid $c_5;
          }

          .btn {
            background-color: $c_1;
            color: #fff;
            width: 30px;
            height: 30px;
            padding: 0;
            border-radius: 0;
            margin-left: 2px;


            .fa {display: block;}

            &:hover {
              background-color: $c_3;
            }
          }
        }
      }

      &:hover &__control, &__control:hover {
        opacity: 1;
      }

      &__title {
        font-size: 18px;
        text-align: center;
        padding: 0 10px;
        //white-space: nowrap;
        //overflow: hidden;
        //text-overflow: ellipsis;
        flex: none;
        width: 100%;
        display: block;

        a {
          text-decoration: none;
          color: $c_1;

          &:hover {
            color: $c_3;
          }
        }
      }


      &:hover {
        border: 1px solid $c_5;
      }


      &.not-available {
        .catalog__grid--item__control {
          display: none !important;
        }
        .catalog__grid--item__price .old-price {
          display: none;
        }
        .catalog__grid--item__price .new-price {
          background-color: rgba(#f5f5f5, .9);
          color: $c_6;
        }
        .catalog__grid--item__price .new-price::after {
          border-color: $c_5 transparent transparent transparent;
        }
      }
    }
  }

  &__list {
    &--item {
      @extend .catalog__grid--item;

      &__info {
      }


      &__image {
        @extend .catalog__grid--item__image;
        display: block;
        position: relative;

        img {
          display: block;
          width: 100%;
        }
      }

      &__price {
        text-align: right;
        position: relative;
        height: 30px;

        .old-price {
          display: inline-block;
          position: relative;
          color: $c_4;
          font-size: 14px;
          line-height: 20px;
          padding: 5px 0;
          margin: 0 10px;

          &:after {
            content: '';
            display: block;
            width: 100%;
            height: 1px;
            background-color: $c_4;
            position: absolute;
            top: 50%;
            left: 0;
            transform: rotate(-20deg);
          }
        }

        .new-price {
          position: absolute;
          display: block;
          background-color: $c_3;
          color: #fff;
          top: 100%;
          right: 0;
          z-index: 1;
          padding: 10px;

          span {
            display: block;
            white-space: nowrap;
            line-height: 1;

            &:first-child {
              font-size: 24px;
              small {
                font-size: 14px;
              }
            }

            &:last-child {
              font-size: 14px;
            }
          }

          &:after {
            content: '';
            display: block;
            position: absolute;
            right: 0;
            top: 100%;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 10px 18px 0 0;
            border-color: #9e2923 transparent transparent transparent;
          }
        }
      }

      &__control {
        display: flex;
        align-items: center;


        .btn__accent {
          margin: 0;
          border-radius: 0;
          text-transform: uppercase;
          letter-spacing: .05em;
          font-weight: 700;
          font-size: 14px;
          vertical-align: middle;
          line-height: 1;
          padding: 8px 16px 8px;
          border: none;
        }

        .number {
          font-size: 16px;
          display: inline-flex;
          margin-right: 15px;
          vertical-align: middle;
          line-height: 1;

          input {
            display: block;
            width: 60px;
            min-width: 0;
            height: 30px;
            text-align: center;
            color: #212121;
            border-radius: 0;
            border: 1px solid $c_5;
          }

          .btn {
            background-color: $c_1;
            color: #fff;
            width: 30px;
            height: 30px;
            padding: 0;
            border-radius: 0;
            margin-left: 2px;


            .fa {display: block;}

            &:hover {
              background-color: $c_3;
            }
          }
        }
      }

      &__content {
        padding: 20px 0;
      }

      &__title {
        font-size: 24px;
        margin-bottom: 15px;

        a {
          text-decoration: none;
          color: $c_1;

          &:hover {
            color: $c_3;
          }
        }
        
      }

      &__text {
        margin-bottom: 15px;

        p {
          font-size: 14px;
          line-height: 20px;
          margin: 0;
        }
        
      }




      &.not-available {
        .catalog__list--item__control {
          display: none !important;
        }
        .catalog__list--item__price .old-price {
          display: none;
        }
        .catalog__list--item__price .new-price {
          background-color: rgba(#f5f5f5, .9);
          color: $c_6;
        }
        .catalog__list--item__price .new-price::after {
          border-color: $c_5 transparent transparent transparent;
        }
      }
    }
  }

  &__nav {
    border-bottom: 1px solid $c_5;
    margin-bottom: 40px;
    padding-top: 40px;
    padding-bottom: 10px;

    &--layout {
      padding: 0 15px;

      a {
        display: inline-block;
        padding: 8px;
        margin: 0 0 0 5px;
        border-radius: 5px;
        border: 1px solid $c_5;
        line-height: 1;
        vertical-align: middle;
        svg {
          width: 16px;
          height: 16px;
          display: block;
          fill: $c_5;
          transition: $transition;
        }

        &:hover {
          svg {fill: $c_3;}
        }

        &.active {
          svg {fill: $c_1;}
        }
      }
    }

    &--sort {
      padding: 0 15px;
      flex: 1;
      font-size: 14px;

      span {line-height: 16px;}
      a {
        display: inline-block;
        line-height: 1;
        vertical-align: middle;
        padding: 8px 12px;
        margin: 0;
        border-radius: 5px;
        border: 1px solid $c_5;
        color: $c_4;
        text-decoration: none;

        .fa {
          margin-left: .5em;
          opacity: .5;
          transition: $transition;

          &:before {content: "\f0dc";}
        }

        &.up, &.down {
          color: $c_1;
          .fa {opacity: 1;}
        }
        
        &.up .fa:before {content: "\f0de";}
        
        &.down .fa:before {content: "\f0dd";}
        
      }

      .av-sort {
        display: inline-block;
        line-height: 1;
        vertical-align: middle;
        margin: 0 0 0 5px;

        input {
          display: none;

          + label {
            cursor: pointer;
            display: block;
            padding: 8px 12px;
            margin: 0;
            border-radius: 5px;
            border: 1px solid $c_5;
            color: $c_4;

            .fa {
              margin-right: .5em;
              opacity: .5;
              transition: $transition
            }

            &:hover .fa {
              opacity: 1;
            
            }

          }

          &:checked + label {
            color: $c_1;
            .fa {opacity: 1;}
          }
        }
      }
    }
  }





  &__item {
    padding: 40px 0;

    &--image {
      display: flex;
      align-items: center;
      height: 100%;
      background-color: #fff;

      &:hover {
        opacity: .75;
      }

      img {
        width: 100%;
        display: block;
      }
    }

    &--info {
      height: 100%;
      background-color: #fff;
      padding: 30px;
    }

    &--description {
      padding: 40px 80px;
      background-color: #fff;
      font-family: $normal;

      h3 {
        font-size: 24px;
        margin: 0 0 20px;
      }

      ul {
        margin: 0 0 20px;
        padding: 0;
        list-style: none;

        li {
          margin-bottom: 20px;
          &:before {
            content: '-';
            display: inline-block;
            width: 20px;
            line-height: 1;
            vertical-align: middle;
          }
        }
      }

      p {margin: 0 0 20px;}

    }

    &--title {
      margin: 0 0 15px;
      @media #{$tablet-down} {text-align: center;}
    }

    &--price {
      margin-bottom: 40px;

      .col.md-5 {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
      }

      a {
        color: $c_1;
        text-decoration: none;
        border-bottom: 1px dotted $c_1;
        font-size: 14px;
        line-height: 1;

        &:hover {
          color: $c_3;
          border-bottom: 1px dotted $c_3;
        }
      }

      .btn__normal {
        width: 100%;
        border-radius: 0;
        font-weight: 700;
        padding: 15px 10px;
      }

      .availability {
        display: block;
        margin-bottom: 10px;
        font-size: 14px;
        color: $c_1;
        .fa {margin-right: 5px;}

        &.none {
          padding-top: 20px;
          margin-bottom: 20px;
        }
      }

      .price {
        width: 50%;
        margin: 0 auto 20px;
        text-align: right;

        .old-price {
          display: inline-block;
          position: relative;
          color: $c_4;
          font-size: 14px;
          line-height: 20px;
          padding: 5px 0;
          margin: 0 10px;

          &:after {
            content: '';
            display: block;
            width: 100%;
            height: 1px;
            background-color: $c_4;
            position: absolute;
            top: 50%;
            left: 0;
            transform: rotate(-20deg);
          }
        }

        .new-price {
          display: block;
          color: $c_3;
          padding: 0 10px;

          span {
            display: block;
            white-space: nowrap;
            line-height: 1;

            &:first-child {
              font-size: 40px;
              small {
                font-size: 16px;
              }
            }

            &:last-child {
              font-size: 16px;
            }
          }
        }
      }
    }

    &--control {
      .btn__accent {
        width: 100%;
        height: 40px;
        border-radius: 0;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: .05em;
        font-weight: 700;
        width: 100%;
      }

      .number {
        display: flex;
        margin-bottom: 10px;
        border: 1px solid $c_5;
        padding: 5px;


        input {
          display: block;
          flex: 1;
          min-width: 0;
          height: 30px;
          text-align: left;
          color: #212121;
          border-radius: 0;
          border: none;
          padding: 0 10px;

        }

        .btn {
          background-color: $c_1;
          color: #fff;
          width: 30px;
          height: 30px;
          padding: 0;
          border-radius: 0;
          margin-left: 2px;

          .fa {display: block;}

          &:hover {
            background-color: $c_3;
          }
        }
      }
      
    }

    &--indexes {
      .col.md-5 {
        display: flex;
        padding-bottom: 30px;
        align-items: flex-end;
        justify-content: flex-end;
      }
      dl {
        margin: 0 0 30px;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        font-size: 18px;
        line-height: 30px;

        dt, dd {
          margin: 10px 0 0;
        }

        dd {
        }

        dt {
          width: 60%;
          color: $c_4;
        }
      }

      ul {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 30px 0 0;
        list-style: none;
        border-top: 1px solid $c_5;

        li {
          display: block;
          flex: none;
          width: 33.33333333%;
          text-align: center;

          svg {
            width: 42px;
            height: 42px;
            display: block;
            fill: $c_1
          }

          span {
            display: inline-block;
            vertical-align: middle;
            line-height: 1;

            &.index {
              color: #fff;
              font-size: 18px;
              line-height: 30px;
              height: 30px;
              position: relative;
              background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNjAgMzAiPjxwYXRoIGlkPSJSZWN0YW5nbGVfMjhfY29weSIgZD0iTTEwIDBoMTUwdjMwSDEwTDAgMTUuNXoiIGZpbGw9IiMzMzMxNDQiLz48L3N2Zz4=) no-repeat left center;
              background-size: cover;
              padding: 0 8px 0 18px;
              margin-left: 10px;
            }
          }
        }


      }
    }

  }
}



@media #{$mobile-screen} {
  .catalog__filters--header ul {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  .catalog__filters--header ul li a {
    border-radius: 0;
    border: none !important;
    &:hover {background-color: rgba($c_5, .5);}
  }

  .catalog__filters--header ul li {
    width: 100%;
    float: none !important;
    margin-bottom: 1px;

    &.active a {
      background-color: $c_1;
      span, svg {color: #fff;fill: #fff;}
    }
  }

  .catalog__filters--form__row .col {width: 100%;}
  .catalog__filters--form__controls {padding-top: 0;}
  .catalog__filters--form__controls .btn {margin-bottom: 10px;}

  .catalog__similar--slider .owl-nav .owl-next {right: 15px;}
  .catalog__similar--slider .owl-nav .owl-prev {left: 15px;}


  // CATALOG ITEM MOBILE
  .catalog__grid--item {position: relative;padding: 20px 50px 120px;
    &.not-available {padding-bottom: 20px;}
  }
  .catalog__grid--item__image {position: static;margin-bottom: 20px;}
  .catalog__grid--item__control {opacity: 1;left: 50px;right: 50px;background-color: transparent;bottom: 10px;}
  .catalog__grid--item__control .btn__accent {height: 34px;font-size: 16px;}
  .catalog__grid--item__title {white-space: normal;}

  .catalog__list--item {
    position: relative;
    padding: 20px 20px 70px 125px;
    min-height: 220px;
    &.not-available {padding-bottom: 20px;min-height: 160px;}
  }
  .catalog__list--item__info {
    position: absolute;
    left: 0px;
    top: 20px;
    width: 100px;
  }
  .catalog__list--item__image {margin-top: 20px;}
  .catalog__list--item__price {height: auto;}
  .catalog__list--item__price .old-price {margin: 0 5px;font-size: 12px;line-height: 20px;padding: 0;}
  .catalog__list--item__price .new-price {padding: 5px;}
  .catalog__list--item__price .new-price span:first-child {font-size: 18px;}
  .catalog__list--item__price .new-price span:last-child {font-size: 12px;}
  .catalog__list--item__title {font-size: 12px;margin-bottom: 10px;line-height: 20px;}
  .catalog__list--item__text p {font-size: 10px;line-height: 12px;}
  .catalog__list--item__content {padding: 0;}
  .catalog__list--item__text {margin-bottom: 0;}
  .catalog__list--item__control {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    display: flex;
  }
  .catalog__list--item__control .btn__accent {flex:1;}

}