.catalog {
  &__filters {
    padding: 40px 0;
    &--header {
      ul {
        display: flex;
        margin: 0 -15px;
        
        li {
          flex:1;
          padding: 0 15px;
          display: block;

          a {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            font-size: 18px;
            text-transform: uppercase;
            padding: 20px;
            border-radius: 5px 5px 0 0;
            background-color: rgba($c_5, .7);
            border: 1px solid transparent;
            border-bottom: none;
            position: relative;

            &:after {
              content: '';
              display: block;
              width: 100%;
              height: 1px;
              background-color: #fff;
              position: absolute;
              left: 0;
              bottom: -1px;
              opacity: 0;
              z-index: 2;
              transition: $transition;
            }

            span, svg {
              display: block;
              color: $c_1;
              fill: $c_1;
            }

            svg {
              height: 20px;
              margin-right: 10px;
            }
          }

          &.active a, a:hover {
            background-color: #fff;
            border: 1px solid $c_1;
            border-bottom: none;
            &:after {opacity: 1;}
          }

          &:nth-child(1) a svg {
            width: 49.9px;
          }
          &:nth-child(2) a svg {
            width: 40.6px;
          }
          &:nth-child(3) a svg {
            width: 63.8px;
          }
        }
      }
    }
    .tab-content {
      position: relative;
      background-color: #fff;

      &:after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 30px;
        background-color: $c_1;
        border-radius: 100%;
        z-index: -1;
        filter: blur(20px);
        left: 0;
        bottom: -15px;
      }

      .tab-pane {
        position: relative;
        z-index: 1;
        background-color: #fff;
        border: 1px solid $c_1;
        padding: 30px 30px 10px;
      }
    }

    &--form {
      &__row {
        margin: 0 -5px 10px;
        display: flex;
        flex-wrap: wrap;

        .col {
          width: 33.3333333%;
          flex: none;
          padding: 0 5px;

          label {
            display: block;
            text-transform: uppercase;
            font-size: 14px;
            line-height: 1;
            padding: 0 0 5px;
          }

          .nice-select {
            display: block;
            width: 100%;
            margin-bottom: 20px;
            padding-left: 10px;

            & .list {
              left: -1px;
              right: -1px;
            }
          }
        }
      }

      &__controls {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 30px;
        padding-top: 20px;

        .btn {
          height: 42px;
        }

        .btn__accent {
          display: block;
          width: 100%;
          text-transform: uppercase;
          letter-spacing: .05em;
          font-size: 16px;
          font-weight: 700;
        }
      }
    }
  }

  &__feautered{
    &--tabs {
      padding-top: 20px;
      padding-bottom: 40px;

      h1 {
        text-align: center;
        font-size: 40px;
        line-height: 1;
        font-weight: 400;
        margin: 0 0 20px;
      }

      ul {
        display: flex;

        li {
          flex:1;
          border-right: 1px solid transparent;

          a {
            display: block;
            text-align: center;
            background-color: $c_1;
            color: #fff;
            padding: 15px 0;
            user-select: none;
          }

          &:first-child a {
            border-radius: 5px 0 0 5px
          }

          &:last-child a {
            border-radius: 0 5px 5px 0
          }

          &.active a, a:hover {
            background-color: $c_3;
          }

        }



      }
    }
  }

  &__grid {
    &--item {
      background-color: #fff;
      border: 1px solid #fff;
      padding: 10px 15px;
      transition: $transition;
      margin-bottom: 30px;
      user-select: none;

      * {user-select: none;}

      &__price {
        text-align: right;
        position: relative;
        height: 30px;

        .old-price {
          display: inline-block;
          position: relative;
          color: $c_4;
          font-size: 14px;
          line-height: 20px;
          padding: 5px 0;
          margin: 0 10px;

          &:after {
            content: '';
            display: block;
            width: 100%;
            height: 1px;
            background-color: $c_4;
            position: absolute;
            top: 50%;
            left: 0;
            transform: rotate(-20deg);
          }
        }

        .new-price {
          position: absolute;
          display: block;
          background-color: $c_3;
          color: #fff;
          top: 100%;
          right: 0;
          z-index: 1;
          padding: 10px;

          span {
            display: block;
            white-space: nowrap;
            line-height: 1;

            &:first-child {
              font-size: 24px;
              small {
                font-size: 14px;
              }
            }

            &:last-child {
              font-size: 14px;
            }
          }

          &:after {
            content: '';
            display: block;
            position: absolute;
            right: 0;
            top: 100%;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 10px 18px 0 0;
            border-color: #9e2923 transparent transparent transparent;
          }
        }
      }

      &__image {
        display: block;
        position: relative;

        img {
          display: block;
          width: 100%;
        }
      }

      &__control {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(#fff, .9);
        opacity: 0;
        transition: $transition;
        padding: 15px 30px;

        .btn__accent {
          border-radius: 0;
          display: block;
          width: 100%;
          text-transform: uppercase;
          letter-spacing: .05em;
          font-size: 16px;
          font-weight: 700;
        }

        .number {
          display: flex;
          margin-bottom: 10px;

          input {
            display: block;
            flex: 1;
            min-width: 0;
            height: 30px;
            text-align: center;
            color: #212121;
            font-size: 16px;
            border-radius: 0;
            border: 1px solid $c_5;
          }

          .btn {
            background-color: $c_1;
            color: #fff;
            width: 30px;
            height: 30px;
            padding: 0;
            border-radius: 0;
            margin-left: 2px;

            .fa {display: block;}

            &:hover {
              background-color: $c_3;
            }
          }
        }
      }

      &:hover &__control, &__control:hover {
        opacity: 1;
      }

      &__title {
        font-size: 18px;
        text-align: center;
        padding: 0 10px;

        a {
          text-decoration: none;
          color: $c_1;

          &:hover {
            color: $c_3;
          }
        }
      }


      &:hover {
        border: 1px solid $c_5;
      }


      &.not-available {
        .catalog__grid--item__control {
          display: none !important;
        }
        .catalog__grid--item__price .old-price {
          display: none;
        }
        .catalog__grid--item__price .new-price {
          background-color: rgba(#f5f5f5, .9);
          color: $c_6;
        }
        .catalog__grid--item__price .new-price::after {
          border-color: $c_5 transparent transparent transparent;
        }
      }
    }
  }

  &__nav {
    border-bottom: 1px solid $c_5;
    margin-bottom: 40px;
    padding-top: 40px;
    padding-bottom: 10px;

    &--layout {
      padding: 0 15px;

      a {
        display: inline-block;
        padding: 8px;
        margin: 0 0 0 5px;
        border-radius: 5px;
        border: 1px solid $c_5;
        line-height: 1;
        vertical-align: middle;
        svg {
          width: 16px;
          height: 16px;
          display: block;
          fill: $c_5;
          transition: $transition;
        }

        &:hover {
          svg {fill: $c_3;}
        }

        &.active {
          svg {fill: $c_1;}
        }
      }
    }

    &--sort {
      padding: 0 15px;
      flex: 1;
      font-size: 14px;

      span {line-height: 16px;}
      a {
        display: inline-block;
        line-height: 1;
        vertical-align: middle;
        padding: 8px;
        margin: 0;
        border-radius: 5px;
        border: 1px solid $c_5;
        color: $c_4;
        text-decoration: none;

        .fa {
          margin-left: .5em;
          color: $c_5;
          transition: $transition;
        }

        &:hover {
          color: $c_3;
        }

        &.active {
          color: $c_1;
          .fa {
            color: $c_3;
          }
        }
        
      }

      .av-sort {
        display: inline-block;
        line-height: 1;
        vertical-align: middle;
        margin: 0 0 0 5px;

        input {
          display: none;

          + label {
            cursor: pointer;
            display: block;
            padding: 8px;
            margin: 0;
            border-radius: 5px;
            border: 1px solid $c_5;
            color: $c_4;

            .fa {
              margin-right: .5em;
            }

            &:hover {
              color: $c_3;
            
            }

          }

          &:checked + label {
            color: $c_1;
            .fa {
              color: $c_3;
            }
          }
        }
      }
    }
  }
}