.main__page {
  &--slider {
    .owl-nav {
      font-family: 'FontAwesome';

      div {
        cursor: pointer;
        position: absolute;
        top: 0;
        bottom: 0;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: rgba($c_2, 0);
        transition: $transition;
        font-size: 24px;
        line-height: 1;
        color: #fff;

        &:hover {
          background-color: rgba($c_2, .7);
        }
      }

      .owl-prev {
        left: 0;
      }
      .owl-next {
        right: 0;
      }
    }
  }
}


.brands {
  background-color: #fff;
  padding: 60px 0;

  &__slider {
    .owl-nav {
      font-family: 'FontAwesome';

      div {
        cursor: pointer;
        position: absolute;
        top: 0;
        bottom: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        transition: $transition;
        font-size: 40px;
        line-height: 1;
        color: $c_5;
        background-color: #fff;

        &:hover {
          color: $c_6;
        }
      }

      .owl-prev {
        left: 0;
      }
      .owl-next {
        right: 0;
      }
    }

    .owl-item {
       a {visibility: hidden;transition: none;}

      &.active a {
        visibility: visible;
      }
    }

  }
}

.catalog__similar {
  padding: 0 0 40px;
  h2 {
    margin: 0 0 40px;
    font-size: 40px;
    line-height: 1;
    color: $c_6;
    font-weight: 400;
    text-align: center;
  }

  &--slider {
    .owl-nav {
      font-family: 'FontAwesome';

      div {
        cursor: pointer;
        position: absolute;
        top: 0;
        bottom: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        transition: $transition;
        font-size: 40px;
        line-height: 1;
        color: $c_5;

        &:hover {
          color: $c_6;
        }
      }

      .owl-prev {
        left: 0;
      }
      .owl-next {
        right: 0;
      }
    }

    .owl-item {visibility: hidden;transition: none;
      &.active {
        visibility: visible;
      }
    }

  }
}


.shop__pluses {
  text-align: center;
  padding-top: 40px;

  h2 {
    margin: 0 0 40px;
    font-size: 40px;
    line-height: 1;
    color: $c_6;
    font-weight: 400;
  }

  &--item {
    padding: 0 15px 20px;
    position: relative;

    &:after {
      position: absolute;
      font-family: 'FontAwesome';
      content: '\f105';
      left: 100%;
      top: 12px;
      margin-left: 7.5px;
      color: $c_1;
      font-size: 18px;
      
    }

    h3 {
      color: $c_2;
      font-style: italic;
      font-weight: 400;
      font-size: 30px;
      line-height: 1.2;
      margin: 0 0 15px;
      .fa {
        font-size: 40px;
        color: $c_1;
      }

      span {
        display: block;
      }
    }

    p {
      font-family: $normal;
      color: $c_4;
      margin: 0 0 30px;
    }
  }

  .col:last-child &--item:after {display: none;}
}