.dialog {
  background: #fff;
  padding: 40px 50px;
  text-align: left;
  max-width: 455px;
  margin: 40px auto;
  position: relative;
  //border: 8px solid $c_cyan;

  &.medium {
    max-width: 550px;
  }

  .basket__list--table tbody tr {
    border: none;
  }

  .similar__items {
    background-color: #f5f5f5;
    margin: 0 -50px -40px;
    padding: 30px 20px;

    h2 {
      text-align: center;
      margin: 0 0 20px;
      font-weight: 400;
      font-size: 24px;
    }


    &--slider {
      .owl-nav {
        font-family: 'FontAwesome';

        div {
          cursor: pointer;
          position: absolute;
          top: 0;
          bottom: 0;
          padding: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          transition: $transition;
          font-size: 40px;
          line-height: 1;
          color: $c_5;

          &:hover {
            color: $c_6;
          }
        }

        .owl-prev {
          left: 0;
        }
        .owl-next {
          right: 0;
        }
      }

      .owl-item {visibility: hidden;transition: none;
        &.active {
          visibility: visible;
        }
      }

    }



  }

  .btn__accent {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .05em;
    font-size: 14px;
    font-weight: 700;
    height: 40px;
    margin-bottom: 30px;
    padding: 0 30px;

    &.nomrg {margin-bottom: 0;}
  }

  .mfp-close {
    opacity: .5;
    width: 24px;
    height: 24px;
    line-height: 24px;
    transition: $transition;
    top: 10px;
    right: 10px;

    &:before, &:after {
      display: block;
      content: '';
      background-color: $c_2;
      transform: rotate(45deg);
      position: absolute;
      transition: $transition;
    }

    &:before {height: 2px;width: 100%;left: 0;top: 50%;margin-top: -1px;}

    &:after {width: 2px;height: 100%;top: 0;left: 50%;margin-left: -1px;}

    &:hover {
      opacity: 1;

      &:before, &:after {background-color: $c_3;}
    }
  }  

  &__header {
    font-size: 24px;
    line-height: 1.5;
    font-weight: 400;
    margin: 0 0 30px;
    text-align: center;

    small {
      display: block;
      font-size: 16px;
      line-height: 24px;
      color: $c_4;
    }
  }

  &__subheader {
    margin: 0 0 20px;
    text-align: center;
    color: $c_4;
  }
  &__form {
    hr {
      display: block;
      border: none;
      height: 1px;
      margin: 30px 0;

      background-color: $c_5;
    }
    &--row {
      margin-bottom: 20px;

      &.controls {
        padding-top: 20px;
        margin-bottom: 0;
        text-align: center;
        font-family: $normal;

        .flexbox {
          justify-content: space-between;
        }
      }
    }

    label {
      font-family: $normal;
      font-size: 16px;
      line-height: 1;
      font-weight: 400;
      color: $c_6;
      display: block;
      margin-bottom: 5px;
      transition: $transition;

      &.query {
        font-size: 18px;
        line-height: 1.2;
        margin-bottom: 15px;
      }




      &.error {
        color: $c_3;
      }
    }
    input {
      height: 40px;
      width: 100%;
      border-radius: 5px;
      background-color: #fff;
      border: 1px solid $c_5;
      padding: 0 10px;
      transition: $transition;

      &:focus {
        border: 1px solid $c_1;
      }

      &.error {
        border: 1px solid $c_3;
      }
    }
    textarea {
      height: 120px;
      resize: none;
      width: 100%;
      border-radius: 5px;
      background-color: #fff;
      border: 1px solid $c_5;
      padding: 10px;
      transition: $transition;

      &:focus {
        border: 1px solid $c_1;
      }

      &.error {
        border: 1px solid $c_3;
      }
    }

  }

}


.radiobox {
  margin-bottom: 15px;
  display: block;

  input {display: none;

    + label {
      cursor: pointer;
      display: flex;
      align-items: center;
      font-size: 16px;
      font-family: $condensed;

      &:before {
        font-family: 'FontAwesome';
        content: '\f00c';
        display: block;
        flex:none;
        width: 34px;
        height: 34px;
        border: 1px solid $c_5;
        border-radius: 5px;
        margin-right: 10px;
        padding: 6px 7px 8px;
        line-height: 20px;
        font-size: 18px;
        color: $c_5;
        transition: $transition;
      }

      &:hover:before {color: $c_5;}
    }

    &:checked + label:before {color: $c_1;}
  
  
  
  }

}

@media #{$mobile-screen} {
.dialog {padding: 40px 30px;}
}