extends layouts/inside
block vars
  - active__menu = 'О нас'
  - page_class = 'static__page'
block header
  include inc/header
block main
  .static
    .container
      .static__content
        h1 О нас
        p Компания «ESPERANZA Tyres» является частью группы компаний «ESPERANZA». Основным видом деятельности компании является продажа грузовых, коммерческих и легковых шин. Наша работа заключается в поиске оптимальных решений, которые позволяют нашим клиентам получить наименьшую цену за 1 км пробега. 
        p Для корпоративных клиентов у нас работает программа «тестовое колесо», которая позволяет тестировать наши колеса, исключая при этом любые возможные риски. За подробной информацией обращайтесь к нашим специалистам.
        p Мы готовы организовать доставку Вашего заказа в любую точку страны.
  include inc/brands-slider


            