extends layouts/inside
block vars
  - active__menu = 'Личный кабинет'
  - page_class = 'cabinet'
block header
  include inc/header2
block main
  .cabinet__content
    .container
      nav.cabinet__content--tabs
        ul
          li.active: a(aria-controls="cabinet__tab--1" data-toggle="tab") История заказов
          li: a(aria-controls="cabinet__tab--2" data-toggle="tab") Дебиторская задолжность
      .tab-content
        #cabinet__tab--1.tab-pane.fade.in.active
          .panel-group
            .panel-group_header
              .date Дата
              .count Количество
              .summ Итого (леев)

            - for (var i=1; i<=4; i++)
              .panel
                .panel-heading(role='button', data-toggle='dropdown')
                    .date 14.05.2017
                    .count 8
                    .summ 101000
                      i.fa.fa-chevron-down 
                .panel-content
                  .panel-body
                    table.order__table
                      thead
                        tr
                          th  
                          th Название товара
                          th Цена (леев)
                          th Количество (штук)
                          th Итого (леев)
                      tbody
                        tr
                          td: a(href="catalog-item.html"): img(src="img/item_image(760x760).png", alt="").tooltip(title="подробнее" data-arrow="true")
                          td 315/70 R-22,5 Bontyre D-730
                          td(data-cell_mobile="Цена (леев)") 750
                          td(data-cell_mobile="Количество (штук)") 4
                          td(data-cell_mobile="Итого (леев)") 3000
                        tr
                          td: a(href="catalog-item.html"): img(src="img/item_image(760x760).png", alt="").tooltip(title="подробнее" data-arrow="true")
                          td 315/70 R-22,5 Bontyre D-730
                          td(data-cell_mobile="Цена (леев)") 750
                          td(data-cell_mobile="Количество (штук)") 4
                          td(data-cell_mobile="Итого (леев)") 3000
                      tfoot
                        tr
                          th 
                          th 
                          th 
                          th 
                          th
                            p
                              span Итого:
                              span 1000000 леев
                            p
                              span Доставка:
                              span 1000 леев
                            p
                              span К оплате:
                              span 101000 леев
        #cabinet__tab--2.tab-pane.fade
          .seller
            .row
              .col.sm-4.seller__header Контрагент
              .col.sm-8.seller__body Farm Meat Processing SRL
            .row
              .col.sm-4.seller__header Срок кредита
              .col.sm-8.seller__body 60
            .row
              .col.sm-4.seller__header ДЗ на 01.07.17
              .col.sm-8.seller__body 4 451 817,27
            .row
              .col.sm-4.seller__header Покупка
              .col.sm-8.seller__body 1 070 334,01
            .row
              .col.sm-4.seller__header Оплата
              .col.sm-8.seller__body 710 000,00
            .row
              .col.sm-4.seller__header ДЗ на 31.07.17
              .col.sm-8.seller__body 4 812 151,28
            .row
              .col.sm-4.seller__header Просроченный долг
              .col.sm-8.seller__body 2 381 072,45
            .row
              .col.sm-4.seller__header Доля просроченного долга
              .col.sm-8.seller__body 49 %
            .row
              .col.sm-4.seller__header Дата образования долга
              .col.sm-8.seller__body 03.04.2017
            .row
              .col.sm-4.seller__header Кол-во просроченный дней
              .col.sm-8.seller__body 59
