extends layouts/inside
block vars
  - active__menu = 'Каталог'
  - page_class = 'catalog__page'
block header
  include inc/header
block main
  include inc/catalog-filters
  include inc/subscribe

  .container
    .catalog__nav
      .row.nowrap
        .catalog__nav--sort
          a(href="").price-sort
            span Цена 
            i.fa.fa-sort
          .av-sort
            input(type="checkbox")#ch-av
            label(for="ch-av")
              i.fa.fa-check
              span В наличии
        .catalog__nav--layout
          a(href="catalog-grid.html").active: svg.icon: use(xlink:href="#grid-view")
          a(href="catalog-list.html"): svg.icon: use(xlink:href="#list-view")

    .catalog__grid
      .row
        - for (var i=1; i<=2; i++)
          .col.sm-6.md-3
            .catalog__grid--item
              .catalog__grid--item__price
                span.old-price 2056.00
                span.new-price 
                  span 1500
                    small .00
                  span леев
              .catalog__grid--item__image
                img(src="img/item_image(760x760).png", alt="")
                .catalog__grid--item__control
                  .number
                    input(type='text', value='1', min='1')
                    span.btn.btn-plus: i.fa.fa-angle-up
                    span.btn.btn-minus: i.fa.fa-angle-down 
                  button.btn.btn__accent Купить
              .catalog__grid--item__title
                a(href="catalog-item.html") 185/75 R-16C Bontyre BT-228
        .col.sm-6.md-3
          .catalog__grid--item.not-available
            .catalog__grid--item__price
              span.old-price 2056.00
              span.new-price 
                span 1500
                  small .00
                span леев
            .catalog__grid--item__image
              a(href="catalog-item-none.html"): img(src="img/item_image(760x760).png", alt="")
              .catalog__grid--item__control
                .number
                  input(type='text', value='1', min='1')
                  span.btn.btn-plus: i.fa.fa-angle-up
                  span.btn.btn-minus: i.fa.fa-angle-down 
                button.btn.btn__accent Купить
            .catalog__grid--item__title
              a(href="catalog-item-none.html") 185/75 R-16C Bontyre BT-228
        - for (var i=1; i<=5; i++)
          .col.sm-6.md-3
            .catalog__grid--item
              .catalog__grid--item__price
                span.old-price 2056.00
                span.new-price 
                  span 1500
                    small .00
                  span леев
              .catalog__grid--item__image
                img(src="img/item_image(760x760).png", alt="")
                .catalog__grid--item__control
                  .number
                    input(type='text', value='1', min='1')
                    span.btn.btn-plus: i.fa.fa-angle-up
                    span.btn.btn-minus: i.fa.fa-angle-down 
                  button.btn.btn__accent Купить
              .catalog__grid--item__title
                a(href="catalog-item.html") 185/75 R-16C Bontyre BT-228
      .catalog__grid--footer
        nav
          ul.pagination
            li.active: span 1
            li: a(href='#') 2
            li: a(href='#') 3
            li: a(href='#') 4
            li: a(href='#') 5
  include inc/catalog-similar


            