block vars
include ../inc/nav
doctype html
html(lang="ru-RU")
  include ../inc/head
  body.main__page#top
    block header
    // ImageSlider  
    section.main__page--slider.owl-carousel
        div: img(src="img/slide1.jpg", alt="")
        div: img(src="img/slide2.jpg", alt="")
        div: img(src="img/slide3.jpg", alt="")
    // End ImageSlider 
    include ../inc/catalog-filters
    // Main Content 
    block main
    // End Main Content 
    include ../inc/brands-slider
    section.shop__pluses
      .container
        h2 С нами удобно
        .row
          .col.sm-3
            .shop__pluses--item
              h3
                i.fa.fa-check
                span Выбирайте
              p только качественные шины 
                span.danger без лишних наценок
          .col.sm-3
            .shop__pluses--item
              h3
                i.fa.fa-cc-visa
                span Оплачивайте
              p замещенная оплата через карту 
                span.danger VISA
          .col.sm-3
            .shop__pluses--item
              h3
                i.fa.fa-truck
                span Доставка
              p при заказе от 1000 леев 
                span.danger бесплатная доставка 
                | по Молдове
          .col.sm-3
            .shop__pluses--item
              h3
                i.fa.fa-certificate
                span Гарантия
              p На все товары действует 
                span.danger гарантия
    include ../inc/footer
    // Base Scripts 
    include ../inc/scripts